@import '../../variables';

.root {
}

.menuButtonCol {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
}

.item {
    display: flex;
    border-top: $border;
}

.itemContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
}