@import '../../variables';
.root {
    border-bottom: $border;
    a,
    a:active,
    a:focus,
    a:hover {
        text-decoration: none;
        color: $main-color;
    }
}

.menuButtonCol {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

.item {
    display: flex;
    border-top: $border;
    cursor: pointer;
}

.itemHighlighted {
    animation-name: itemHighlighted;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes itemHighlighted {
    0% {
      background-color: $highlight-color;
    }
    20% {
      background-color: $highlight-color;
    }
    100% {
      background-color: $back-color;
    }
}

.item:hover {
    background: $back-sec-color;
}

.itemContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
}
