@import '../../../variables';

.item {
    display: flex;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.dateCol {
    flex: 0 0 0;
    em {
        font-weight: bold;
        font-style: normal;
    }
}

.day {
    font-size: $font-size-large;
}

.month {
    color: $sec-color;
}

.clientCol {
    text-align: left;
    em {
        font-weight: bold;
        font-style: normal;
    }
    line-height: 1.3rem;
}

.invoiceNumber {
    color: $sec-color;
}

.avatarCol {
    flex: 0 0 0;
}

.priceCol {
    margin-left: auto;
    font-size: $font-size-large;
}

.invoiceNumber {}

.clientName {}